/* html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    transition: all 0.5s ease-in;
}

.app {
    padding: 20px 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.bg-app {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.bg-app img {
    width: 100%;
    height: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
}


.btn-wrap {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btn-play {
    width: 100px;
    height: 50px;
    outline: none;
    background-color: rgb(12, 67, 151);
    border-radius: 10px;
    border: 2px solid rgb(0, 225, 255);
    color: #fff;
    cursor: pointer;
    box-shadow: -2px 3px 24px -3px #fff;
}

img.card {
    width: 70px;
    height: 90px;
}

.bot-area, .player-area {
    height: 100px;
    /* width: 100%; */
    display: flex;
}

.bot-area div, .player-area div {
    height: 100%;
}

.bot-area img, .player-area img{
    width: 100%;
    height: 100%;
}

.center-area {
    width: 50vh;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.btn-wrap {
    display: flex;
    /* position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; */
    
}

.btn-action {
    width: 70px;
    height: 40px;
    outline: none;
    background-color: rgb(20, 109, 57);
    border-radius: 10px;
    border: 2px solid rgb(230, 245, 190);
    color: #fff;
    cursor: pointer;
    box-shadow: -2px 3px 24px -3px #fff;
    font-weight: 600;
}

#action {
    z-index: 10;
}

#player-message, #bot-message{
    margin-right: 10vw;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 20px;
}

#player-message span, #bot-message span {
    background-color: rgb(138, 138, 14);
    border: 1px solid red;
    border-radius: 20px;
    padding: 5px 10px;
}

.game-result {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.game-result span {
    background-color: #8a160e;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px 10px;
}

.copyright {
    position: absolute;
    top: 0;
    right: 0;
}

#bot-message span, #player-message span {
    box-shadow: -2px 3px 24px -3px #fff;
}
 */
